@charset "utf-8";
/* CSS Document */
a {
	text-decoration: none;
	color: #4e94db;
	opacity:0.87;
}
h1{
	font-family:Lucida sans,Lucida Grande, Helvetica, Arial, sans-serif;
	font-size:20px;
	color: #4e94db;
	text-align: left;
}

p {
	font-family:Lucida sans,Lucida Grande, Helvetica, Arial, sans-serif;
	font-size:12px;
	color: #676465;
	text-align: left;
	text-decoration: none;
}
#infocontainer {
	width: 443px;
	height: 518px;
	padding-right: 50px;
	
}
#about {
	width: 392px;
	height: 193px;
	padding-left: 15px;
}
#footer {
	width: 1324px;
	height: 42px;
	background:url(../../images/41211_26.gif);
	padding-top: 3px;
}
#footer p {
	text-align:center;
}
#footer a {
	color: #222;
	text-decoration: underline;
}
.moremovies {
	height: 50px;
	width: 115px;
	background: #4E94DB;
	position: absolute;
	top:698px;
	left: 250px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-radius: 5px;
	z-index: 99;
}
.moremovies p {
	padding: 5px 5px 5px 15px;
	color: #fff;
}
.button {
	float:left;
}
.conte {
	width: 1324px;
	height: 124px;
}
.center {
	margin: 0 auto;
	width: 873px;
}
.wrapper {
	width: 475px;
	height: 0px;
}

.fr, .alignright {float:right;}
/* Lists ---------------------- */
ul,ol { font-size: 14px; line-height: 1.6; margin-bottom: 17px; list-style-position: inside; }
ul li ul,ul li ol { margin-left: 20px; margin-bottom: 0; }
ul.square,ul.circle,ul.disc { margin-left: 17px }
ul.square { list-style-type: square }
ul.square li ul { list-style: inherit }
ul.circle { list-style-type: circle }
ul.circle li ul { list-style: inherit }
ul.disc { list-style-type: disc }
ul.disc li ul { list-style: inherit }
ul.no-bullet { list-style: none }
ul.large li { line-height: 21px }
ol li ul,ol li ol { margin-left: 20px; margin-bottom: 0; }
/* Pagination ---------------------- */
ul.pagination { display: block; height: 10px; margin-left: -5px; padding: 0;}
ul.pagination li { float: left; display: block; height: 10px; color: #999; font-size: 14px; margin-left: 5px; }
ul.pagination li a { display: block; padding: 3px 7px 0px; color: #555; }
ul.pagination li:hover a,
ul.pagination li a:focus { background: #e6e6e6 }
ul.pagination li.unavailable a { cursor: default; color: #999; }
ul.pagination li.unavailable:hover a,
ul.pagination li.unavailable a:focus { background: transparent }
ul.pagination li.current a { background: #2ba6cb; color: white; font-weight: bold; cursor: default; }
ul.pagination li.current a:hover { background: #333 }
p#moremovies {
	height: 10px;
	padding-left: 19px;
}

#container2 {
	width: 100%;
	margin: 0 auto;
	position: absolute;
	z-index: 10;
	margin-top: 665px;
}
.warpper {
	text-align: center;
}

ul.pagination {
	margin-left: 190px;
	float: none!important;
}