#videogallery {
	width:518px;
	zoom:1;
	overflow: none;
}
#innerdiv {
	height: 1000px;
}
#videogallery a{
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	position:relative;
	margin:5px;
	width:234px;
	font-family:Lucida sans,Lucida Grande, Helvetica, Arial, sans-serif;
	font-size:14px;
	font-weight:normal;
	text-decoration:none;
	text-align:center;
	opacity:0.87;
}
#videogallery a img{
	border:none;
	margin:0;

}
#videogallery a:hover{
	opacity:1;
}
.titlebox {
	width: 518px;
}
#videogallery mvtitle {
	color:#545454;
}
#videogallery watch {
	color:#959595;
}