.videogallery {
	width:100%;
	zoom:1;
}
.videogallery span{ display:block; }
.videogallery a{
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	position:relative;
	vertical-align:top;
	margin:0px;
	width:234px;
	font-family:Trebuchet,Tahoma,Arial,sans-serif;
	font-size:11px;
	font-weight:normal;
	text-decoration:none;
	text-align:center;
	opacity:0.87;
}
.videogallery a.videolb{display:none}
.videogallery a img{
	display:block;
	border:none;
	margin:0;
}
.videogallery a:hover{
	text-decoration:underline;
	opacity:1;
}