<tr>
		<td colspan="4" rowspan="2">
			<img src="images/bottomcontainer.gif" width="342" height="149" alt=""></td>
		
		<td colspan="2"><a href="mailto:ada@memoriesinmotion.tv"><img src="images/contact.gif" alt="" width="211" height="124" border="0"></a></td>
		<td colspan="2">
			<img src="images/call.gif" width="215" height="124" alt=""></td>
		<td rowspan="2">
			<img src="images/bottomcontainer-15.gif" width="2" height="149" alt=""></td>
		<td colspan="3">
			<script>function fbs_click() {u=location.href;t=document.title;window.open('http://www.facebook.com/sharer.php?u='+encodeURIComponent(u)+'&t='+encodeURIComponent(t),'sharer','toolbar=0,status=0,width=626,height=436');return false;}</script>

<a rel="nofollow" href="http://www.facebook.com/share.php?u=memoriesinmotion.tv" onclick="return fbs_click()" target="_blank">
<img src="images/share.gif" alt="" width="222" height="124" border="0"></a></td>
		<td colspan="4">
			<img src="images/bottomcontainer-17.gif" width="332" height="124" alt=""></td>
	</tr>
	
		
	<tr>
		<td colspan="2" rowspan="2">
			<img src="images/MIM_HomeTS_3_02.gif" width="235" height="149" alt=""></td>
		<td colspan="1">
			<img src="images/MIM_HomeTS_3_03.gif" width="216" height="124" alt=""></td>
		<td colspan="1">
			<img src="images/MIM_HomeTS_3_04.gif" width="215" height="124" alt=""></td>
		<td colspan="2">
			<img src="images/MIM_HomeTS_3_05.gif" width="210" height="124" alt=""></td>
		<td colspan="2"><div class="button">
			<img src="images/MIM_HomeTS_3_06.gif" width="225" height="124" alt="">
		</div></td>
		<td colspan="2">
			<img src="images/MIM_HomeTS_3_07.gif" width="223" height="149" alt=""></td>
	</tr>